tex/stohan.pdf
tex/stohan.dvi
tex/stohan.bbl
tex/stohan.ps
tex/stohan.aux
tex/stohan.log
tex/stohan.out
tex/stohan.blg
tex/stohan.toc
tex/stohan.synctex*
tex/missfont.log
tex/texput.log
*.pdf
*.dvi
*.bbl
*.ps
*.aux
*.log
*.out
*.blg
*.toc
*.synctex*
*.m~